*{
    margin:0;
    padding: 0;
    
}


.container{
    width: 80vw;
    max-width: 1300px;
    min-width:320px;
    margin:auto;
    position:relative;
    

}

img{
    width:100%;
    border-radius: 15px;
 

}

.card1{
    width: 55%;
    height: 17%;
    max-height: 19%;
    position: absolute;
    left: 15px;
    top: 10px;

}

.card1-0{
    width: fit-content;
    height: fit-content;
    object-fit: contain;
    object-position: center;
    position:absolute;
    top:5px;
    left:10px;
    
        
}

.card1-1{
    display: flex;
    justify-content: space-around;
    margin-top: 55%;
   
}

a{
    text-decoration: none;
    color:white;
    display:flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius:15px;
    box-shadow: 0px 3px 5px rgb(15,15,15,.5);
    background-color:#0a90a2;
    margin-left: 15px;

}



@media (max-width: 500px) {
    a {
      font-size: .5rem;
    }
}

.card1-2{
    position:sticky;
    max-height: 30%;
}
   
.card2{
    /* background-color: gray;
    border: 1px solid black ; */
    width: 30%;
    height: 12%;
    max-height: 19%;
    position: absolute;
    left:10%;
    
}

.card2-1{
    width: fit-content;
    object-fit: contain;
    object-position: center;
    position:absolute;
    height: 95%;
    
}


.card2-2{
    width: 40%;
    height: 12%;
    max-height: 15%;
    position: absolute;
    left: 50%;
}

.card2-3{
    width: 80%;
    object-fit: contain;
    position:absolute;
}

.card3{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;

}

.card3-2{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;
    left:33%;

}

.card3-3{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;
    left:66%;
}

.card4{
    width: 30%;
    height: 8%;
    max-height: 19%;
    position: absolute;
    left:35%;
    
}

.card4-1{
    position:absolute;
    top:20%;
    
}

.card5{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;

}

.card5-2{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;
    left:33%;

}

.card5-3{
    width: 33%;
    height: 14%;
    max-height: 19%;
    position: absolute;
    left:66%;
}


.card6{
    width: 30%;
    height: 15%;
    max-height: 19%;
    position: absolute;
    left:35%;
    
}

.card6-1{
    position:absolute;
    
}


.card7{
    width: 30%;
    height: 12%;
    max-height: 19%;
    position: absolute;
    left:10%;
    
}

.card7-1{
    width: fit-content;
    object-fit: contain;
    object-position: center;
    position:absolute;
    height: 95%;
}

.card7-2{
    width: 40%;
    height: 12%;
    max-height: 15%;
    margin-left: 50%;
    position: relative;
}
  

.container2{
    background-color:#0a90a2;
    width:250px;
    height: auto;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
}

@media (min-width:600px)and(max-width:950px){
    
    .container2{
        background-color:#0a90a2;
        width:200px;
        height: auto;
        border-radius: 5px;
        padding: 5px 5px;
        margin:auto;
    }
}

@media (max-width: 600px) {
  
    .container2{
        background-color:#0a90a2;
        width:90%;
        height: auto;
        max-width: 300px;
        border-radius: 5px;
        padding: 5px 5px;
    }

}

.formulario{
    width: 100%;
    display:grid;
    gap:5px;
    grid-auto-columns:100% ;
   
}

.titulo{
    text-align: center;
    font-size:2rem;
    margin-bottom: 2px;
    color:azure;

}

.input{
    font-size:1rem;
    padding: 5px 3px;
    outline:none;
    border:none;
    border:1px solid blue;
    border-radius: 5px;

}

.message{
    resize: none;
    padding: 5px 5px;
    margin-bottom: 5px;

}

.mandar{
    font-size: 1rem;
    background-color: blueviolet;
    color:white;
    border:none;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
}

